@charset "UTF-8"; 
/*CSS Document for My Portfolio Page*/

/* CSS used here will be applied after bootstrap.css */

@charset "UTF-8"; 
/*CSS Document for My Portfolio Page*/


h1 { 
	color: #2d3c49; 
  	float: right; 
  font-family: 'Montserrat', sans-serif;
}

h3 {
	color:#7d97ad;
  	float: right;
  	font-size: 20px;
  	font-family: 'Montserrat', sans-serif;
}

h4 {
	color:#7d97ad;
  	font-family: 'Montserrat', sans-serif;
}

h5 {
	color:#7d97ad;
  	text-align: center; 
  	font-family: 'Montserrat', sans-serif;
}

.col {
  display: flex;
  justify-content: center;
    
  }

.main-img {
    border-top-style: solid;
    border-top-width: thick;
    border-top-color:#7d97ad; 
    padding-top:20px;
    padding-top:20px;
  	padding-right:0px;
  	padding-left:0px; 
  	padding-bottom:20px;
  }
